<header class="header container">
    <hr />
    <h1>
        <a class="headerLogo" href="/">
            <i class="fa fa-lg fa-file-text-o"></i>
        </a>
        CKEditor Hyphenator
    </h1>
    <br />
</header>